.universal-inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.accordion-lang {
  border-top: .5px solid hsla(0,0%,100%,.4);
  max-width: 700px;
}

.accordion-lang__head {
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 50px;
  height: 8vh;
  font-size: 18px;
  color: #ff0;
  cursor: pointer;
  justify-content: flex-start;
}

.accordion-lang__head--active {
  color: red;
}

.accordion-lang__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s,max-height .6s,padding .1s;
  background-color: #fff;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.accordion-lang__content--active {
  overflow: visible;
  opacity: 1;
}

.accordion-lang__inner {
  display: block;
}

.accordion-lang__item {
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #1b1b1b;
  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.accordion-lang__item:active,
.accordion-lang__item:focus,
.accordion-lang__item:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.accordion-lang__ul {
  margin: 0 auto;
  padding: 10px;
  background-color: #7289e9;
}

.accordion-lang__block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0!important;
}

.accordion-lang__block:first-child {
  height: 6vh!important;
}

.accordion-lang__a {
  display: inline-block;
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #1b1b1b;
  color: #fff;
  height: 80px;
  padding: 30px 0 0 15vw;
  margin-bottom: 5px;
}

.accordion-lang__a:active,
.accordion-lang__a:focus,
.accordion-lang__a:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.header {
  width: 100%;
}

.header .wrapper {
  margin-top: 50px;
}

.main-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-header__lang {
  padding: 0;
}

.main-header__menu {
  display: none;
}

.main-navigation__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.main-navigation__item {
  text-decoration: none;
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #1b1b1b;
}

.main-navigation__item:active,
.main-navigation__item:focus,
.main-navigation__item:hover {
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #4aaada;
  transition: all .3s;
}

.main-navigation__item:after {
  content: "";
  width: 0;
  margin-top: 3px;
  display: block;
  border-bottom: 1px solid #4aaada;
}

.main-navigation__item:hover:after {
  width: 100%;
  transition: width .3s;
}

.main-navigation li+li {
  margin-left: 3vw;
}

.dropdownmenu {
  position: relative;
  display: inline-block;
}

.dropdownmenu button {
  padding-left: 15px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownmenu-toggle {
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #1b1b1b;
}

.dropdownmenu-toggle:nth-child(2):after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 3px;
  border: solid #1b1b1b;
  border-width: 0 2px 2px 0;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdownmenu-toggle:hover:after {
  border-color: #4aaada;
  transition: all .3s;
}

.dropdownmenu-menu {
  position: absolute;
  top: 30px;
  left: -40px;
  z-index: 1000;
  display: none;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 20px;
  background-color: #fff;
  min-width: 100%;
  width: 140px;
  padding: 10px 0;
  box-shadow: 0 4px 15px rgba(27,27,27,.1);
}

.dropdownmenu__link {
  display: block;
  width: 100%;
  padding: 7px 0;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #1b1b1b;
  text-align: center;
}

.dropdownmenu__link:active,
.dropdownmenu__link:hover {
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #4aaada;
  transition: all .3s;
}

.dropdownmenu__link-mobile {
  padding: 0;
}

.dropdownmenu__lang {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  color: #1b1b1b;
  text-align: center;
  transition: all .2s;
}

#dropdownLangButton,
#dropdownMenuButton {
  font-family: Montserrat,Open Sans,Arial,sans-serif;
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #1b1b1b;
}

#dropdownLangButton:active,
#dropdownLangButton:focus,
#dropdownLangButton:hover,
#dropdownMenuButton:active,
#dropdownMenuButton:focus,
#dropdownMenuButton:hover {
  font-family: Montserrat,Open Sans,Arial,sans-serif;
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #4aaada;
}

.burger {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  height: 5px;
  margin: 6px 0;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px,6px);
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px,-8px);
}

.overlay {
  position: fixed;
  z-index: 1006;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  transform: translateX(-100vw);
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
}

.overlay-slide-right {
  transition: all .4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all .8s ease-in-out;
  transform: translateX(-100vw);
}

.nav-nav {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.nav-nav .nav-ul {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

.nav-nav .nav-ul li {
  height: 6%;
  width: 100vw;
  overflow: hidden;
  outline: none;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 0 5px 13vw;
}

.nav-nav .nav-ul li:first-child {
  height: 17%;
}

.nav-nav .nav-ul li:nth-child(5) {
  height: 15%;
  padding-bottom: 9vh;
}

.nav-nav .nav-ul li:nth-child(6) {
  height: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.nav-nav .nav-ul li a {
  position: relative;
  top: 45%;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #1b1b1b;
  color: #fff;
}

.nav-nav .nav-ul li a:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.nav-nav .nav-ul li a:hover:before {
  opacity: 1;
}

.nav-nav li {
  background-color: #7289e9;
}

.slide-in-1,
.slide-in-2,
.slide-in-3,
.slide-in-4,
.slide-in-5 {
  -webkit-animation: slide-in .4s linear .1s both;
  animation: slide-in .4s linear .1s both;
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-out-1,
.slide-out-2,
.slide-out-3,
.slide-out-4,
.slide-out-5 {
  -webkit-animation: slide-out .1s linear .75s both;
  animation: slide-out .1s linear .75s both;
}

@-webkit-keyframes slide-out {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.menu-bars {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1007;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  border-radius: 10px;
  background-color: #4aaada;
  margin: 8px 0;
  transition: .4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px,8px);
  background-color: #fff;
}

.change .bar2 {
  opacity: 0;
  background-color: #fff;
}

.change .bar3 {
  transform: rotate(45deg) translate(-6px,-8px);
  background-color: #fff;
}

#footer {
  padding: 10px 5% 0;
  height: 350px;
  background: linear-gradient(135deg,#9599e2,#8bc6ec);
  background-size: 400% 400%;
  -webkit-animation: BackgroundGradient 30s ease infinite;
  animation: BackgroundGradient 30s ease infinite;
}

@-webkit-keyframes BackgroundGradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

.footer {
  position: relative;
  padding-top: 50px;
}

.footer:before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  left: 100px;
  background-color: #fff;
  opacity: .2;
  border-radius: 50%;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__info {
  position: relative;
  display: flex;
  max-width: 500px;
  margin-top: 14px;
}

.footer__info:before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  top: 120px;
  left: 180px;
  background-color: #fff;
  opacity: .2;
  border-radius: 50%;
}

.footer__additions {
  margin: 0;
  width: auto;
}

.footer__additions+.footer__additions {
  margin-left: 20vh;
}

.footer__link {
  font-weight: 500;
  display: inline-block;
}

.footer__link,
.footer__link:hover {
  font-size: .875rem;
  line-height: .95rem;
  color: #fff;
}

.footer__link:hover {
  font-weight: 600;
}

.footer__addition+.footer__addition {
  margin-top: 15px;
}

.footer__contacts {
  display: flex;
  max-width: 700px;
  padding: 0;
  margin-right: 200px;
  align-items: flex-start;
  font-weight: 500;
  font-size: .875rem;
  line-height: .95rem;
  color: #fff;
}

.footer__block {
  max-width: 250px;
}

.footer__block:first-child {
  position: relative;
}

.footer__block:first-child:after {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  top: -30px;
  left: -50px;
  background-color: #fff;
  opacity: .1;
  border-radius: 50%;
}

.footer__block:first-child:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  top: 100px;
  left: 0;
  background-color: #fff;
  opacity: .1;
  border-radius: 50%;
}

.footer__block+.footer__block {
  position: relative;
  margin-left: 100px;
}

.footer__block+.footer__block:after {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  top: -30px;
  left: -60px;
  background-color: #fff;
  opacity: .1;
  border-radius: 50%;
}

.footer__block+.footer__block:before {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  top: 150px;
  left: 110px;
  background-color: #fff;
  opacity: .1;
  border-radius: 50%;
}

.footer__socmedia {
  padding: 0;
  max-width: 300px;
  position: relative;
}

.footer__socmedia:before {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  top: 50px;
  left: 310px;
  background-color: #fff;
  opacity: .1;
  border-radius: 50%;
}

.footer__socblock {
  display: block;
  padding: 0;
  margin: 0;
}

.footer__socblock+.footer__socblock {
  margin-top: 15px;
}

.footer__soc {
  display: inline-block;
}

.footer__soc+.footer__soc {
  margin-left: 30px;
}

.footer__para-right {
  width: 300px;
}

.footer__soclink {
  transition: 1s;
}

.footer__soclink:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  transition: all .3s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(196,203,233,.5);
}

.modal-dialog {
  max-width: 600px;
  max-height: 95%;
  margin: 2vh auto;
  border: 1px solid transparent;
  overflow-y: auto;
}

.modal-content {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  max-height: 80%;
  overflow-y: auto;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 14px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

.modal-content .close span {
  text-align: center;
  width: 40px;
  height: 40px;
  color: #d3d5d7;
}

.modal-content .close span:hover {
  color: #4aaada;
}

.modal-content .close span:active,
.modal-content .close span:focus {
  color: #7289e9;
}

.modal-body,
.modal-header {
  padding: 15px;
  text-align: center;
}

.modal-title {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 131.9%;
  color: #1b1b1b;
  padding: 20px;
}

.modal-footer {
  text-align: center;
  padding: 15px;
}

.modal-group+.modal-group {
  margin-top: 20px;
}

.modal-input {
  width: 60%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #f3f6fb;
  padding: 15px;
  outline: none;
  transition: all .3s;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #1b1b1b;
}

.modal-input:focus {
  border: 1px solid #4aaada;
  background-color: #fff;
}

.modal-input:valid {
  border: 1px solid #58ff58;
}

.modal-btn {
  border: 1px solid transparent;
  font-weight: 600;
  font-size: .875rem;
  line-height: .95rem;
  color: #fff;
  width: 235px;
  height: 45px;
  -webkit-filter: drop-shadow(0 4px 15px #768eea);
  filter: drop-shadow(0 4px 15px #768EEA);
  border-radius: 25px;
  background: linear-gradient(90deg,#6880e8,#b3d5ed);
  background-size: 150% 150%;
  transition: all .4s ease;
  padding: 0;
  outline: none;
}

.modal-btn:hover {
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
  cursor: pointer;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

.modal-btn:active,
.modal-btn:focus {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.modal-para {
  text-align: center;
  margin: 0;
  padding: 25px;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.3rem;
  color: #1b1b1b;
}

.modal-mail {
  display: inline-block;
  margin-top: 10px;
  color: #4aaada;
}

.modal-error {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-error-message {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #1b1b1b;
  width: 200px;
}

#loader-1:after,
#loader-1:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

#loader-1:before {
  z-index: 100;
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 10px solid #ccc;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format("truetype");
}

:root {
  --swiper-theme-color: #4aaada;
  --swiper-navigation-size: 2rem;
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat,Open Sans,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.btn-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #4aaada;
}

.ul-reset,
ul {
  list-style: none;
  padding: 0;
}

.input {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  transition: .3s;
}

.input:focus {
  outline: none;
  box-shadow: 1px 1px 30px 1px rgba(60,86,166,.3);
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  color: #1b1b1b;
}

a,
a:hover {
  text-decoration: none;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.ttu {
  text-transform: uppercase;
}

.ta-c {
  text-align: center;
}

.ov-h {
  overflow: hidden;
}

.ov-s {
  overflow: scroll;
}

.black {
  color: #000;
}

button {
  padding: 0;
}

input {
  padding: 15px;
}

.wrapper {
  max-width: 1440px;
  margin: 70px auto 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fadedAnimation {
  -webkit-animation: fadedAnimation 1s;
  animation: fadedAnimation 1s;
}

@-webkit-keyframes fadedAnimation {
  0% {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadedAnimation {
  0% {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

.ios-bug-fixer {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.title {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 131.9%;
}

.para,
.title {
  color: #1b1b1b;
}

.para {
  max-width: 650px;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: hsla(0,0%,100%,.7);
  z-index: 1000;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.helper {
  height: 158px;
  display: none;
}

.swiper {
  width: 280px;
  height: 360px;
}

.about {
  margin-top: 30px;
  padding: 0 200px;
  position: relative;
  z-index: 9;
}

.about__bg {
  display: none;
}

.about:after {
  position: absolute;
  content: url(../img/map-header.jpg);
  z-index: -2;
  top: 20px;
  left: 670px;
  transform: scale(90%);
}

.about__content {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
}

.about__content:before {
  position: absolute;
  content: "";
  width: 215px;
  height: 215px;
  left: -100px;
  bottom: -90px;
  background-color: #fafafa;
  border-radius: 50%;
  z-index: -1;
}

.about__content:after {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  left: -150px;
  top: 330px;
  background-color: #eaf7fd;
  border-radius: 50%;
  z-index: -1;
}

.about__header {
  position: relative;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.7rem;
  color: #4aaada;
  max-width: 500px;
}

.about__header:before {
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  left: -50px;
  top: 140px;
  background-color: #eaf7fd;
  opacity: .5;
  border-radius: 50%;
  z-index: -1;
}

.about__para {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #1b1b1b;
  margin-top: 0;
  max-width: 420px;
  margin-bottom: 35px;
}

.about__navigation {
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.about__navigation:before {
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  right: 100px;
  top: 140px;
  background-color: #eaf7fd;
  opacity: .4;
  border-radius: 50%;
  z-index: -1;
}

.about__navigation:after {
  position: absolute;
  content: "";
  width: 91px;
  height: 91px;
  right: 200px;
  top: 100px;
  background-color: #eaf7fd;
  opacity: .6;
  border-radius: 50%;
  z-index: -1;
}

.prices__desc {
  font-weight: 600;
  font-size: .875rem;
  line-height: .95rem;
  color: #1b1b1b;
}

.prices__figure {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #7289e9;
}

.prices__btn {
  font-weight: 600;
  font-size: .875rem;
  line-height: .95rem;
  color: #fff;
  width: 235px;
  height: 45px;
  -webkit-filter: drop-shadow(0 4px 15px #768eea);
  filter: drop-shadow(0 4px 15px #768EEA);
  border: 1px solid transparent;
  border-radius: 25px;
  background: linear-gradient(90deg,#6880e8,#b3d5ed);
  background-size: 150% 150%;
  transition: all .4s ease;
  padding: 0;
  outline: none;
}

.prices__btn:hover {
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

.prices__btn:active,
.prices__btn:focus {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.prices__btn-disabled,
.prices__btn[disabled] {
  background-color: #a7c1d4;
  opacity: .3;
  -webkit-filter: drop-shadow(0 0 0);
  filter: drop-shadow(0 0 0);
  outline: none;
}

.prices__btn-disabled:active,
.prices__btn-disabled:focus,
.prices__btn-disabled:hover,
.prices__btn[disabled]:active,
.prices__btn[disabled]:focus,
.prices__btn[disabled]:hover {
  -webkit-animation: none;
  animation: none;
}

.problem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 170px;
}

.problem__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  aspect-ratio: 1;
}

.container {
  position: relative;
  margin: 12% 5% 10%;
  max-width: 1000px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 131.9%;
  color: #4aaada;
}

.tab.active,
.tab:hover {
  background-color: #4aaada;
  color: #fff;
}

.tab:hover {
  opacity: .7;
}

.tab__head {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 131.9%;
  color: #4aaada;
  position: relative;
}

.tab__head:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 21%;
  background: #4aaada;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

.tab__inner {
  display: flex;
  justify-content: space-between;
  min-height: 500px;
  max-height: 700px;
  margin-top: 5%;
}

.tab__article {
  width: 70%;
}

.tab__figure {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
}

.tab__img {
  max-width: 100%;
  height: auto;
}

.tab__para {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #1b1b1b;
  margin-top: 0;
}

.tab__block {
  width: 860px;
  height: 545px;
}

.operation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.operation__title {
  font-weight: 800;
  font-size: 1.5rem;
  color: #1b1b1b;
}

.operation__desc,
.operation__title {
  text-align: center;
  line-height: 131.9%;
}

.operation__desc {
  position: relative;
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 1rem;
  color: #7289e9;
}

.operation__desc:before {
  position: absolute;
  content: "";
  height: 2px;
  top: -10px;
  left: 0;
  right: 0;
  width: 100%;
  background: #7289e9;
}

.content {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  max-width: 80vw;
  gap: 2vh 5vw;
}

.content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__para {
  padding: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #1b1b1b;
  max-width: 300px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__desc {
  max-width: 450px;
  margin-bottom: 60px;
  color: #1b1b1b;
  text-align: center;
}

.app__desc,
.app__span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 131.9%;
}

.app__span {
  color: #7289e9;
}

.app__link {
  margin-bottom: 80px;
}

.app__para {
  margin-bottom: 40px;
}

.prop-video {
  width: 50%;
  margin: 0 auto 80px;
}

.prop-video__wrap {
  padding-top: 56.25%;
  position: relative;
}

.prop-video__wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid transparent;
}

.service {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef9fd;
  padding: 65px 0;
}

.service .wrapper {
  margin-top: 0;
}

.service__title {
  position: relative;
  text-align: center;
}

.service__title:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  bottom: -100px;
  left: -150px;
  background-color: #fff;
  opacity: .7;
  border-radius: 50%;
}

.service__title:before {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  bottom: 30px;
  left: -190px;
  background-color: #fff;
  opacity: .7;
  border-radius: 50%;
}

.personnel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 160px;
}

.personnel__title {
  text-align: center;
  margin-top: 70px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.team__block:first-child {
  width: 1440px;
  align-self: center;
}

.team__block figure img {
  border-radius: 50%;
}

.team__name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #7289e9;
}

.team__position {
  font-weight: 600;
  font-size: .875rem;
  line-height: .95rem;
  color: #1b1b1b;
  margin: 0;
}

.team__experience {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #1b1b1b;
  text-align: center;
  max-width: 280px;
}

.directors {
  display: flex;
  justify-content: space-evenly;
}

.directors__block {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directors__name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #7289e9;
}

.directors__position {
  font-weight: 600;
  font-size: .875rem;
  line-height: .95rem;
  color: #1b1b1b;
  margin: 0;
  text-align: center;
}

.directors__experience {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #1b1b1b;
  text-align: center;
}

.social-i {
  text-align: center;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1em;
  color: #4aaada;
}

.social-i .social-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-i .social-ul .social-li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.social-i .social-ul .social-li .social-a {
  display: block;
  font-size: 1.4em;
  margin: 0 5px;
  text-decoration: none;
}

.social-i .social-ul .social-li .social-a svg:active path,
.social-i .social-ul .social-li .social-a svg:focus path,
.social-i .social-ul .social-li .social-a svg:hover path {
  fill: #4aaada;
}

.carousel {
  display: block;
  margin: 0 auto;
  width: 280px;
  position: relative;
}

.carousel-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #cacaca;
  font-size: 5px;
}

.swiper-button-next:active,
.swiper-button-next:hover,
.swiper-button-prev:active,
.swiper-button-prev:hover,
.swiper-pagination-bullet-active {
  color: #4aaada;
}

@media screen and (min-width:560px) {
  .swiper {
    display: none;
  }

  .carousel {
    display: none;
  }
}

@media screen and (max-width:1024px) {
  .footer:before {
    display: none;
  }

  .footer__info:before {
    display: none;
  }

  .footer__block:first-child:after {
    display: none;
  }

  .footer__block:first-child:before {
    display: none;
  }

  .footer__block+.footer__block:after {
    display: none;
  }

  .footer__block+.footer__block:before {
    display: none;
  }

  .footer__socmedia:before {
    display: none;
  }

  .about__content:before {
    display: none;
  }

  .about__content:after {
    display: none;
  }

  .about__header:before {
    display: none;
  }

  .about__navigation:before {
    display: none;
  }

  .about__navigation:after {
    display: none;
  }

  .service__title:after {
    display: none;
  }

  .service__title:before {
    display: none;
  }
}

@media screen and (max-width:780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width:560px) {
  .header .wrapper {
    margin-top: 0;
  }

  .main-header {
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 1005;
    background-color: hsla(0,0%,100%,.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: 100vw;
  }

  .main-header__lang {
    display: none;
  }

  .main-header__logo {
    transform: scale(50%);
  }

  .main-header__menu {
    display: block;
    padding: 0;
  }

  .main-navigation {
    display: none;
  }

  .dropdownmenu-menu {
    top: 30px;
    left: -300px;
    width: 80vw;
    height: 60vh;
  }

  .dropdownmenu__link {
    padding: 20px 0;
  }

  .dropdownmenu__lang {
    display: block;
  }

  #footer {
    margin-top: 100px;
    height: 80vh;
    padding: 70px 0 env(safe-area-inset-bottom);
  }

  .footer {
    padding: 80px 35px;
    background-color: #9599e2;
    background-image: linear-gradient(135deg,#9599e2 25%,#8bc6ec);
  }

  .footer__navigation {
    flex-direction: column;
  }

  .footer__logo {
    display: none;
  }

  .footer__info {
    width: 100%;
    margin-bottom: 30px;
    justify-content: space-around;
    align-self: start;
  }

  .footer__additions {
    padding: 0;
    width: auto;
  }

  .footer__additions+.footer__additions {
    margin: 0;
  }

  .footer__addition+.footer__addition {
    margin-top: 10px;
  }

  .footer__contacts {
    justify-content: center;
    margin: 20% 0 0;
    width: 100%;
  }

  .footer__block {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer__block+.footer__block {
    margin: 0;
  }

  .footer__socblock+.footer__socblock {
    margin-top: 30px;
  }

  .footer__soc+.footer__soc {
    margin-left: 35px;
  }

  .footer__para-right {
    max-width: 70%;
    margin-bottom: 50px;
    align-self: start;
  }

  .footer__svg {
    transform: scale(125%);
  }

  .modal-dialog {
    max-width: 90%;
    margin: 0 auto;
  }

  .modal-content {
    margin-top: 2vh;
    max-width: 100%;
    max-height: 95%;
  }

  .modal-title {
    margin-top: 20px;
  }

  .modal-input {
    width: 85%;
  }

  .wrapper {
    margin: 0;
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 35px auto 0;
  }

  .para {
    font-size: .875rem;
    text-align: left;
  }

  .sticky {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: transparent;
  }

  .about {
    padding: 100px 30px 30px;
    margin: 0;
  }

  .about__bg {
    display: block;
    transform: scale(90%);
    margin-top: 20px;
  }

  .about:after {
    display: none;
  }

  .about__header {
    margin-top: 25px;
    font-size: 2rem;
    line-height: 39px;
    max-width: 400px;
  }

  .about__para {
    font-size: .875rem;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about__navigation {
    flex-direction: column;
  }

  .prices__desc {
    text-align: center;
  }

  .prices+.prices {
    margin-top: 35px;
  }

  .problem {
    background-color: #eef9fd;
    margin-top: 50px;
  }

  .problem__img {
    display: none;
  }

  .container {
    padding: 5px;
  }

  .tabs {
    margin: 0 0 40px;
  }

  .tab {
    flex: 0 1 50%;
    text-align: center;
  }

  .tab-content {
    margin: 0;
  }

  .tab__inner {
    flex-direction: column-reverse;
    max-height: 900px;
  }

  .tab__article {
    width: 100%;
    height: 70%;
  }

  .tab__figure {
    width: 80%;
    height: 30%;
    margin-left: 40px;
  }

  .tab__img {
    width: 260px;
    height: auto;
  }

  .tab__para {
    font-weight: 400;
    font-size: .875rem;
    line-height: 16px;
  }

  .tab__block {
    width: 100%;
    height: auto;
  }

  .operation__desc {
    width: 260px;
  }

  .content {
    display: none;
  }

  .content__img {
    transform: scale(125%);
  }

  .content__para {
    font-size: .875rem;
    padding: 0;
    margin-top: 55px;
  }

  .prop-video {
    width: 75vw;
    height: auto;
  }

  .team {
    display: none;
    padding: 0;
    margin: 0 auto;
  }

  .team__block {
    margin: 0 auto;
    max-width: 70%;
  }

  .team__block+.team__block {
    margin: 0 auto;
  }

  .team__name {
    font-size: 1rem;
  }

  .team__position {
    font-size: .875rem;
  }

  .team__experience {
    font-size: .875rem;
  }

  .directors {
    display: none;
    padding: 0;
    margin: 0 auto;
  }

  .directors__name {
    font-size: 1rem;
  }

  .directors__position {
    font-size: .875rem;
  }

  .directors__experience {
    font-size: .875rem;
  }
}

@media screen and (max-width:560px) and screen and (max-width:780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width:560px) and screen and (max-width:560px) {
  .wrapper {
    margin: 0;
  }
}

@media screen and (min-width:1020px) and (max-width:1180px) {
  .footer__contacts {
    margin-right: 100px;
  }
}

@media screen and (min-width:561px) and (max-width:1279px) {
  .about:after {
    left: 40%;
  }
}

@media screen and (min-width:561px) and (max-width:1120px) {
  .tab__article {
    width: 80%;
  }

  .tab__figure {
    width: 20%;
  }
}

@media screen and (min-width:1024px) and (max-width:1097px) {
  .tab__para {
    margin: 0;
  }
}